.userLogo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: lightgray;
    text-align: center;
}

.userWord {
    font-size: xxx-large;
    padding-top: 10%;
}

.userNameContainer {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}