.navButtonsContainer {
    display: flex;
    border-bottom: 2px solid darkslategray;
    background-color: white;
}

.navButtonsContainer a {
    margin-left: 7px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    transition: 0.5s;
}

.navButtonsContainer a:hover {
    scale: 1.05;
}
