$textPadding: 3px;

.footerLine {
    display: flex;
    width: 100%;
}

.footerArrow {
    margin-left: 10px;
    padding: $textPadding;
}

.footerText {
    margin-left: 10px;
    background-color: white;
    width: 90%;
    padding: $textPadding;
    display: flex;
    justify-content: space-between;
}