header {
    display: flex;
    padding: 25px;
    align-items: center;
}

.headerTitle {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 80%;
    height: auto;
    font-size: 4em;
}